<div class="register__content">
    <h1 class="title">Inscription</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="authForm">
        <div class="coupleInputLabel">
            <label for="username">Nom d'utilisateur</label>
            <input class="input input--auth" matInput formControlName="username" id="username">
        </div>

        <div class="coupleInputLabel">
            <label for="email">Adresse e-mail</label>
            <input class="input input--auth" matInput formControlName="email" id="email">
        </div>

        <div class="coupleInputLabel">
            <label for="password">Mot de passe</label>
            <input class="input input--auth" matInput formControlName="password" id="password">
        </div>

        <button mat-raised-button type="submit" [disabled]="form.invalid" class="button button--primary">
            S'inscrire
        </button>
    </form>
    <span *ngIf="isError" class="formErrorMessage">{{errorMessage}}</span>
</div>