<main>
    <div class="topicList__content">
        <div class="topicsContainer">
            <article class="topic">
                <div class="topic__content">
                    <h2 class="subtitle">Titre du thème</h2>
                    <p>
                        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                        lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                        lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                    </p>
                    <button mat-raised-button type="submit" class="button button--primary" (click)="toSubscribe()">
                        S'abonner
                    </button>
                </div>
            </article>
            <article class="topic">
                <div class="topic__content">
                    <h2 class="subtitle">Titre du thème</h2>
                    <p>
                        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                        lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                        lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                    </p>
                    <button mat-raised-button type="submit" class="button button--primary">
                        S'abonner
                    </button>
                </div>
            </article>
            <article class="topic">
                <div class="topic__content">
                    <h2 class="subtitle">Titre du thème</h2>
                    <p>
                        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                        lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                        lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled
                    </p>
                    <button mat-raised-button type="submit" class="button button--primary">
                        S'abonner
                    </button>
                </div>
            </article>
        </div>
    </div>
</main>