@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';


.postDetail__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
    padding-left: 48px;

    @include tablet-and-less {
        padding-left: 0;
        gap: 21px;
    }

    .title {
        text-align: start;
        margin-bottom: 0;
        font-weight: 600;

        @include tablet-and-less {
            padding-left: 48px;
        }
    }

    span,
    p {
        font-size: 20px;
        margin-bottom: 0;
    }
}

.postDataContainer {
    display: flex;
    flex-direction: row;
    gap: 48px;

    @include mobile-only {
        flex-direction: column;
        row-gap: 21px;
    }

    &--1 {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }
}

h2.commentTitlePart {
    font-weight: 400;
    margin-bottom: 0;
}

/********************** commentsContainer ***********************/
.commentsContainer {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 8%;
    padding-bottom: 16px;
    row-gap: 21px;

    @include mobile-only {
        padding: 0px;
    }
}

.comment {
    display: grid;
    grid-template-columns: 160px 1fr;

    .username {
        font-style: italic;
        grid-column: 1 / 2;
    }

    .content {
        background-color: $secondary-color;
        border-radius: 8px;
        padding: 16px 21px;
        grid-column: 2 / 3;
        word-wrap: break-word;
    }
}

@include mobile-only {
    .comment {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 8px;

        .username {
            text-align: end;
        }
    }
}

/********************** newComment ***********************/
.newComment {
    position: relative;
    height: 120px;

    textarea {
        box-sizing: border-box;
        border: 1px solid black;
        display: block;
        padding: 16px;
        border-radius: 8px;
        font-size: 20px;
        color: gray;
        height: 100%;

        @include mobile-only {
            justify-content: center;
            width: 108%;
            position: absolute;
            top: 0;
            left: -16px;
            padding-right: 48px;
        }
    }

    .sendButton {
        all: unset;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 32px;
        opacity: 1;
        transition: all 300ms ease-in-out;

        img {
            height: 43px;
            width: 43px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}