// MEDIA QUERIES MIXINS
@mixin mobile-only {
    @media all and (max-width: map-get($breakpoints, xsmall)) {
        @content;
    }
}

@mixin tablet-and-less {
    @media all and (max-width: map-get($breakpoints, medium)) {
        @content;
    }
}

@mixin tablet-and-more {
    @media all and (min-width: map-get($breakpoints, xsmall)) {
        @content;
    }
}

@mixin large-and-more {
    @media all and (min-width: map-get($breakpoints, large)) {
        @content;
    }
}

@mixin core-container {
    max-width: 1440px;
    padding: 32px;
    margin: auto;
    box-sizing: border-box;

    @include mobile-only {
        padding: 21px 16px;
    }
}