// COLORS VARIABLES
$primary-color: #04838f;
$secondary-color: #023047;
$background-color: #afd4df;

// MEDIA QUERIES VARIABLES
$breakpoints: (
    xsmall: 576px,
    small: 768px,
    medium: 992px,
    large: 1200px,
    xlarge: 1400px
); 