$primary-color: rgba(119, 99, 197, 1);
$secondary-color: rgba(245, 245, 245, 1);

// MEDIA QUERIES VARIABLES
$breakpoints: (
    xsmall: 576px,
    small: 768px,
    medium: 992px,
    large: 1200px,
    xlarge: 1400px
); 