@import './variables';
@import './mixins';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100dvh;
    position: relative;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

main {
    @include core-container;
}

p,
span,
label,
input {
    font-size: 14px;
}

h1.title {
    text-align: center;
    font-size: 24px;
}

.subtitle, h2.subtitle {
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
}

.button.button {
    box-sizing: border-box;
    border: 1px solid black;
    display: block;
    padding: 8px 32px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-wrap: nowrap;
    font-weight: bold;

    span {
        font-size: 16px;
    }

    @include mobile-only {
        font-weight: 300;
    }

    &--primary {
        border: none;
        color: white;
        background-color: $primary-color;
    }

    &--secondary {
        color: black;
        background-color: white;
    }
}


.coupleInputLabel {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
        color: gray;
        box-sizing: border-box;
        padding: 18px 16px;
        border-radius: 8px;
    }
}

.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 350px;

    @include mobile-only {
        width: 100%;
    }
}

.backArrow {
    color: black;
    transform: scale(1.7);
    position: absolute;
    top: 0;
    left: 0;
}